<div class="my-3 bg-[#E3E4E5] rounded-xl p-3">
  <div class="flex items-center gap-3 text-xs text-gray-600 justify-between">
    <div class="flex items-center gap-1">
      <span>My Ranking:</span>
      <span><strong>13</strong>/500</span>
      <i class="fa-solid fa-circle-chevron-right"></i>
    </div>
    <div>
      <button class="bg-gray-500 text-white text-[11px] font-bold px-3 py-1 rounded-full whitespace-nowrap">
        Share to Friend <i class="fa-regular fa-share-from-square"></i>
      </button>
    </div>
  </div>
  <div>
    <span class="font-bold text-gray-900 text-sm">Brown23</span>
  </div>
  <div class="flex items-center gap-3 mt-1.5 text-[12px] text-gray-400">
    <span>W/L Points: <strong class="text-black">5,300</strong> <i
        class="fa-solid fa-circle-info text-black"></i></span>
    <span>Prizes (USD): <strong class="text-black">88.00</strong> <i
        class="fa-solid fa-circle-info text-black"></i></span>
  </div>
</div>