<div id="panel-free" class="tab-panel hidden  min-h-screen">


  <!-- ── predict-subtabs.html ── -->
  <div class="flex gap-2 px-3 pt-3 pb-3 overflow-x-auto scrollbar-hide">
    <button data-ptab="free-all" class="ptab ptab-active shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">All</button>
    <button data-ptab="free-available" class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Available</button>
    <button data-ptab="free-expired" class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Expired</button>
  </div>

  <!-- ══ SUB-PANEL: free all ══ -->
  <div id="ppanel-free-all" class="ppanel">
    {{> we-rewards/items/free-all}}
  </div><!-- /ppanel-free-all -->

  <!-- ══ SUB-PANEL: free available ══ -->
  <div id="ppanel-free-available" class="ppanel hidden">
    {{> we-rewards/items/free-available}}
  </div><!-- /ppanel-free-available -->

  <!-- ══ SUB-PANEL: free expired ══ -->
  <div id="ppanel-free-expired" class="ppanel hidden">
    {{> we-rewards/items/free-expired}}
  </div><!-- /ppanel-free-expired -->

</div>
