<div id="panel-missions" class="tab-panel hidden  min-h-screen">

  <!-- ── predict-subtabs.html ── -->
  <div class="flex gap-2 px-3 pt-3 pb-3 overflow-x-auto scrollbar-hide">
    <button data-ptab="missions-all"
      class="ptab ptab-active shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">All</button>
    <button data-ptab="missions-available"
      class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Available</button>
    <button data-ptab="missions-expired"
      class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Expired</button>
  </div>

  <!-- ══ SUB-PANEL: missions all ══ -->
  <div id="ppanel-missions-all" class="ppanel">
    {{> we-rewards/items/missions-all}}
  </div><!-- /ppanel-missions-all -->

  <!-- ══ SUB-PANEL: missions available ══ -->
  <div id="ppanel-missions-available" class="ppanel hidden">
    {{> we-rewards/items/missions-all}}
  </div><!-- /ppanel-missions-available -->

  <!-- ══ SUB-PANEL: missions expired ══ -->
  <div id="ppanel-missions-expired" class="ppanel hidden">
    {{> we-rewards/items/missions-expired}}
  </div><!-- /ppanel-missions-expired -->


</div>