<div id="panel-tournaments" class="tab-panel hidden bg-white min-h-screen">


  <!-- ── predict-subtabs.html ── -->
  <div class="flex gap-2 px-3 pt-3 pb-3 overflow-x-auto scrollbar-hide">
    <button data-ptab="tournaments-all"
      class="ptab ptab-active shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">All</button>
    <button data-ptab="tournaments-available"
      class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Available</button>
    <button data-ptab="tournaments-upcoming"
      class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Upcoming</button>
    <button data-ptab="tournaments-expired"
      class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Expired</button>
  </div>

  <!-- ══ SUB-PANEL: tournaments all ══ -->
  <div id="ppanel-tournaments-all" class="ppanel">
    {{> we-rewards/items/tournaments-all}}
  </div><!-- /ppanel-tournaments-all -->

  <!-- ══ SUB-PANEL: tournaments available ══ -->
  <div id="ppanel-tournaments-available" class="ppanel hidden">
    {{> we-rewards/items/tournaments-all}}
  </div><!-- /ppanel-tournaments-available -->

  <!-- ══ SUB-PANEL: tournaments upcoming ══ -->
  <div id="ppanel-tournaments-upcoming" class="ppanel hidden">
    {{> we-rewards/items/tournaments-all}}
  </div>

  <!-- ══ SUB-PANEL: tournaments expired ══ -->
  <div id="ppanel-tournaments-expired" class="ppanel hidden">
    {{> we-rewards/items/tournaments-expired}}
  </div><!-- /ppanel-tournaments-expired -->


</div>