<div id="panel-we-predict" class="tab-panel hidden bg-white">

  <!-- ── predict-subtabs.html ── -->
  <div class="flex gap-2 px-3 pt-3 pb-3 overflow-x-auto scrollbar-hide">
    <button data-ptab="we-predict-main"
      class="ptab ptab-active shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">WE Predict</button>
    <button data-ptab="leaderboard"
      class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Leaderboard</button>
    <button data-ptab="live-score" class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">Live
      Score</button>
    <button data-ptab="faqs" class="ptab shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">FAQs</button>
  </div>

  <!-- ══ SUB-PANEL: WE Predict (Overview) ══ -->
  <div id="ppanel-we-predict-main" class="ppanel">
    {{> we-rewards/tabs/we-predict-overview}}
  </div><!-- /ppanel-we-predict-main -->

  <!-- ══ SUB-PANEL: Leaderboard ══ -->
  <div id="ppanel-leaderboard" class="ppanel hidden">
    {{> we-rewards/tabs/we-predict-leaderboard}}
  </div><!-- /ppanel-leaderboard -->

  <!-- ══ SUB-PANEL: Live Score ══ -->
  <div id="ppanel-live-score" class="ppanel hidden">
    {{> we-rewards/tabs/we-predict-live-score}}
  </div><!-- /ppanel-live-score -->

  <!-- ══ SUB-PANEL: FAQs ══ -->
  <div id="ppanel-faqs" class="ppanel hidden">
    {{> we-rewards/tabs/we-predict-faqs}}
  </div><!-- /ppanel-faqs -->

</div><!-- /panel-we-predict -->