<div class="we-predict-overview">
  <!-- user ranking bar -->
  {{>we-rewards/user-ranking-bar}}

  <!-- promo banner -->
  {{>we-rewards/items/slide}}

  <!-- FILTERS -->
  <div class="flex gap-2 px-3 pt-4 pb-3 fade-up-2 overflow-x-auto no-scrollbar we-predict-filter">
    <button data-tfilter="5_3_2026" class="tfilter shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">
      Thu (5/3/26)
    </button>
    <button data-tfilter="6_3_2026"
      class="tfilter tfilter-active shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">
      Today (6/3/26)
    </button>
    <button data-tfilter="7_3_2026" class="tfilter shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">
      Fri (7/3/26)
    </button>
    <button data-tfilter="8_3_2026" class="tfilter shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">
      Sat (8/3/26)
    </button>
    <button data-tfilter="9_3_2026" class="tfilter shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">
      Sun (9/3/26)
    </button>
    <button data-tfilter="10_3_2026" class="tfilter shrink-0 flex-1 p-1 rounded-md bg-gray-300 text-gray-500">
      Mon (10/3/26)
    </button>
  </div>

  <!--  -->
  <div class="px-3 pb-4">
    <div id="tfilter-5_3_2026" class="tfilter-content hidden">
      {{>we-rewards/items/we-predict-overview-no-data}}
    </div>
    <div id="tfilter-6_3_2026" class="tfilter-content">
      {{>we-rewards/items/we-predict-overview-data}}
    </div>
    <div id="tfilter-7_3_2026" class="tfilter-content hidden">
      {{>we-rewards/items/we-predict-overview-no-data}}
    </div>
    <div id="tfilter-8_3_2026" class="tfilter-content hidden">
      {{>we-rewards/items/we-predict-overview-no-data}}
    </div>
    <div id="tfilter-9_3_2026" class="tfilter-content hidden">
      {{>we-rewards/items/we-predict-overview-no-data}}
    </div>
    <div id="tfilter-10_3_2026" class="tfilter-content hidden">
      {{>we-rewards/items/we-predict-overview-no-data}}
    </div>
  </div>

</div>