<!-- promo banner -->
<div class="mx-3 mb-3 rounded-xl overflow-hidden h-28 relative flex items-center">
  <img src="/assets/images/we-rewards/we-predict-slide-1.png" class="w-full h-full object-contain" />
</div>
<!-- banner dots -->
<div class="flex justify-center gap-1.5 mb-3">
  <span class="w-2 h-2 rounded-full bg-gray-800"></span>
  <span class="w-2 h-2 rounded-full bg-gray-300"></span>
  <span class="w-2 h-2 rounded-full bg-gray-300"></span>
  <span class="w-2 h-2 rounded-full bg-gray-300"></span>
</div>

<!-- day filter -->
<div class="flex items-center justify-center gap-0 px-3">
  <button class="text-black text-xl mr-3">
    <i class="fa-solid fa-calendar"></i>
  </button>
  <div class="flex items-center rounded-t-lg overflow-hidden">
    <button data-day="yesterday" class="day-btn tfilter-active px-4 py-1.5 bg-gray-300 text-gray-500" data-i18n="we_rewards.day_yesterday"></button>
    <button data-day="today" class="day-btn px-4 py-1.5 bg-gray-300 text-gray-500" data-i18n="we_rewards.day_today"></button>
    <button data-day="tomorrow" class="day-btn px-4 py-1.5 bg-gray-300 text-gray-500" data-i18n="we_rewards.day_tomorrow"></button>
  </div>
</div>

<!-- matches list -->
<div class="px-3 py-4 bg-gradient-to-b from-[#EDF1F8] to-[#FFFFFF]">

  <p class="text-[13px] font-bold text-black mb-2 text-center">January 21, 2026</p>

  <!-- match row -->
  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">FT</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Elche</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Sevilla</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">FT</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Brighton</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Bournamouth</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">21:00</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Villarreal</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Ajax</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">22:30</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Tottenham</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Dortmund</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">23:00</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Newcastle</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">PSV</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

</div>


<div class="px-3 py-4 bg-gradient-to-b from-[#EDF1F8] to-[#FFFFFF]">

  <p class="text-[13px] font-bold text-black mb-2 text-center">January 21, 2026</p>

  <!-- match row -->
  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">FT</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Elche</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Sevilla</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">FT</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Brighton</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Bournamouth</span>
          <span class="text-[13px] font-bold text-gray-900 bg-gray-100 px-2 py-0.5 rounded">1</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">21:00</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Villarreal</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Ajax</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">22:30</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Tottenham</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Dortmund</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

  <div class="mb-2 px-3 py-2.5">
    <div class="flex items-center gap-2">
      <span class="text-[11px] text-black text-center w-8 shrink-0">23:00</span>
      <div class="flex-1">
        <div class="flex items-center gap-2 mb-2">
          <span class="text-lg">
            <img src="/assets/icons/elche.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">Newcastle</span>
        </div>
        <div class="flex items-center gap-2">
          <span class="text-lg">
            <img src="/assets/icons/sevilla.png" />
          </span>
          <span class="text-[13px] font-semibold text-gray-900 flex-1">PSV</span>
        </div>
      </div>
      <div class="flex items-center gap-2 shrink-0 pl-4">
        <button
          class="w-8 h-8 rounded-lg flex items-center justify-center text-base">
          <img src="/assets/icons/stadium-icon.png" />
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-solid fa-angles-up"></i>
        </button>
        <button class="w-8 h-8 rounded-lgflex items-center justify-center text-gray-400">
          <i class="fa-regular fa-star"></i>
        </button>
      </div>
    </div>
  </div>

</div>