<!-- ── mystery-free-section.html ── -->
<section class="py-4 bg-[#E3E4E5]">
  <div class="flex items-center gap-2 px-3 pb-2">
    <h2 class="font-heading font-bold text-base text-gray-900 flex items-center gap-2">
      <img src="/assets/icons/mystery-free-gift.png" class="w-7 -mt-3" />
      <!-- <span data-i18n="we_rewards.mystery_free_gift"></span> -->
      <span>Mystery Drops</span>
    </h2>
  </div>


  <div id="scroll-free" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">
    <div class="flex flex-col gap-2 items-center justify-center text-center w-full">
      <img src="/assets/images/empty.png" class="w-[150px] h-[150px]" />
      <div class="font-bold text-base">More Surprises Coming Soon!</div>
      <div class="text-xs text-gray-500">Mystery Boxes are restocking! <br/> Get ready for extra rewards & extra surprises.</div>
    </div>

  </div>
</section>

{{> we-rewards/items/free}}