
<!-- ── slots-section.html ── -->
<section class="py-3">
  <h2 class="font-heading font-bold text-[17px] text-gray-900 px-3 mb-2">Free Rewards</h2>
  <div id="scroll-free-bonus" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">

    <!-- card: Slots Free Bonus -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover" />
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Live Casino Free Chips
          <button class="" onclick="document.getElementById('live-casino-free-chips-info-free-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-1xs font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-2 mb-2.5">
          <div class="flex-1 text-1xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-gray-100 leading-3">MYR38 Free bonus from <span class="text-primary">Pragmatic Play</span>
            </p>
          </div>
        </div>
        <p class="text-[#FFFFFFBF] italic text-2xs mb-1">Exclusive rewards just for you!</p>
        <button class="w-full bg-primary text-black py-1 font-bold rounded-lg glow-hover"
          data-i18n="we_rewards.claim_now"
          onclick="document.getElementById('live-casino-free-chips-free-modal').showModal()"></button>
      </div>
    </div>

    <!-- card: Mystery Rescue Bonus -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/live-casino-4.png" class="w-full h-full object-cover" />
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Slot Free Spins
          <button class="" onclick="document.getElementById('slot-free-spins-info-free-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-1xs font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-2 mb-2.5">
          <div class="flex-1 text-1xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-gray-100 leading-3">18x Free Spins from <span class="text-primary">Pragmatic Play</span></p>
          </div>
        </div>
        <p class="text-[#FFFFFFBF] italic text-2xs mb-1">Exclusive rewards just for you!</p>
        <button class="w-full bg-primary text-black py-1 font-bold rounded-lg glow-hover"
          data-i18n="we_rewards.claim_now"
          onclick="document.getElementById('slot-free-spins-free-modal').showModal()"></button>
      </div>
    </div>
  </div>

</section>

<!-- ── slots-section.html ── -->
<section class="py-3">
  <h2 class="font-heading font-bold text-[17px] text-gray-900 px-3 mb-2">Mission Rewards</h2>
  <div id="scroll-free-bonus" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">

    <!-- mission card 4 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Deposit Mission (1)
          <button class="" onclick="document.getElementById('daily-deposit-mission-1-info-free-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-1xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-400 italic line-clamp-2">
              Deposit: Unlock 1x Silver WESpin...
            </p>
          </div>
          <div class="flex-1 text-1xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">1x WESpin Silver Coin</p>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <a href="/we-rewards.html?tab=we" role="button"
            class="w-full bg-primary text-center text-black py-1 font-bold rounded-lg glow-hover"
            data-i18n="we_rewards.claim_now"></a>
        </div>
      </div>
    </div>

    <!-- mission card 4 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/6.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-[9px] leading-3 bg-red-600 px-6 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[15px] -rotate-45">New
          <br /> Member</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          New Member Mission (1)
          <button class="" onclick="document.getElementById('new-member-mission-1-info-free-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-1xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1 font-semibold" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-400 italic line-clamp-2">
              <span class="text-primary">Deposit:</span> Accumulate deposit of MYR100...
            </p>
          </div>
          <div class="flex-1 text-1xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white">18x Free Spins</p>
          </div>
        </div>
        <button class="w-full bg-primary text-black py-1 font-bold rounded-lg glow-hover"
          data-i18n="we_rewards.claim_now"
          onclick="document.getElementById('new-member-mission-1-reward-free-modal').showModal()"></button>
      </div>
    </div>

    <!-- mission card 4 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/11.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Slots Mission (1)
          <button class="" onclick="document.getElementById('daily-slots-mission-1-info-free-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-1xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1 font-semibold" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-400 italic line-clamp-2">
              <span class="text-primary">Pragmatic:</span> Hit MYR 1,500 turnover daily...
            </p>
          </div>
          <div class="flex-1 text-1xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white">18x Free Spins</p>
          </div>
        </div>
        <button class="w-full bg-primary text-black py-1 font-bold rounded-lg glow-hover"
          data-i18n="we_rewards.claim_now"
          onclick="document.getElementById('daily-slots-mission-1-reward-free-modal').showModal()"></button>
      </div>
    </div>

  </div>

</section>


<!-- ── modals/congratulations.html ── -->
<dialog id="8-8-anniversary-free-bonus-info-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/congratulations-banner.png" class="w-full h-full object-cover" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">8.8 Anniversary Free Bonus</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div>
        <p class="font-semibold">Rewards</p>
        <div class="">
          Get up to MYR8 Free Bonus from WE88 — use it to fuel your next big win!
        </div>
      </div>
      <div class="opacity-50 italic font-semibold">
        Exclusive rewards just for you!
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('8-8-anniversary-free-bonus-free-modal').showModal(); document.getElementById('8-8-anniversary-free-bonus-info-free-modal').hideModal()">
          Claim Now
        </button>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="8-8-anniversary-free-bonus-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/congratulations-banner.png" class="w-full h-full object-cover" />
    <div class="p-4 flex flex-col gap-3">
      <h3 class="text-xl font-bold">Congratulations!</h3>
      <div class="">
        You have successfully redeemed your WE88 88 Anniversary Mystery Bonus of <strong>MYR8</strong> Free Bonus.
      </div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> The Funds have been added to your <strong class="underline">Main Wallet.</strong>
      </div>
      <form class="" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Start Winning
        </a>
      </form>
    </div>
  </div>
</dialog>


<!-- ── modals/congratulations.html ── -->
<dialog id="live-casino-free-chips-info-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Live Casino Free Chips</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div>
        <p class="font-semibold">Rewards</p>
        <div class="">
          Get up to MYR 38 Free Bonus from <strong>Pragmatic Play!</strong>
        </div>
      </div>
      <div class="opacity-50 italic font-semibold">
        Exclusive rewards just for you!
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('live-casino-free-chips-free-modal').showModal(); document.getElementById('live-casino-free-chips-info-free-modal').hideModal()">
          Claim Now
        </button>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="live-casino-free-chips-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col gap-3">
      <h3 class="text-xl font-bold">Congratulations!</h3>
      <div class="">
        You have successfully redeemed your WE88 Mystery Bonus of <strong>MYR38</strong> Free Bonus.
      </div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> The funds have been added to your <strong>Pragmatic Play Wallet</strong>
      </div>
      <form class="" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Play Now
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="live-casino-free-chips-info-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Live Casino Free Chips</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div>
        <p class="font-semibold">Rewards</p>
        <div class="">
          Get up to MYR 38 Free Bonus from <strong>Pragmatic Play!</strong>
        </div>
      </div>
      <div class="opacity-50 italic font-semibold">
        Exclusive rewards just for you!
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('live-casino-free-chips-free-modal').showModal(); document.getElementById('live-casino-free-chips-info-free-modal').hideModal()">
          Claim Now
        </button>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="live-casino-free-chips-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col gap-3">
      <h3 class="text-xl font-bold">Congratulations!</h3>
      <div class="">
        You have successfully redeemed your WE88 Mystery Bonus of <strong>MYR38</strong> Free Bonus.
      </div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> The funds have been added to your <strong>Pragmatic Play Wallet</strong>
      </div>
      <form class="" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Play Now
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="slot-free-spins-info-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-4.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Slot Free Spins</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div>
        <p class="font-semibold">Rewards</p>
        <div class="">
          Get up to 18x Free Spins from <strong>Pragmatic Play!</strong>
        </div>
      </div>
      <div class="opacity-50 italic font-semibold">
        Exclusive rewards just for you!
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('slot-free-spins-free-modal').showModal(); document.getElementById('slot-free-spins-info-free-modal').hideModal()">
          Claim Now
        </button>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="slot-free-spins-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-4.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col gap-3">
      <h3 class="text-xl font-bold">Congratulations!</h3>
      <div class="">
        You have successfully redeemed your WE88 Mystery Gift of <strong>18x Free Spins</strong> are ready - good luck!
      </div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> We’ve credited them to your account. Launch <strong>WE88 Starlight Princess</strong> to
        start spinning!
      </div>
      <form class="" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Play Now
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-deposit-mission-1-info-free-modal.html ── -->
<dialog id="daily-deposit-mission-1-info-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Deposit Mission (1)</h3>
      <span class="inline-flex items-center gap-1 text-xs bg-green-500 text-white px-3 py-1 rounded-full mb-2">
        <span>Completed</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs">Unlock 1x WESpin Silver Coin! Just deposit MYR 100 today for your chance to win big.</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">1x WESpin Silver Coin</p>
        </div>
      </div>
      <form class="w-full" method="dialog">
        <a class="btn bg-primary rounded-full w-full" href="/we-rewards.html?tab=we">
          Claim Now
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-deposit-mission-1-info-free-modal.html ── -->
<dialog id="new-member-mission-1-info-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/6.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">New Member Mission (1)</h3>
      <div class="flex gap-2">
        <span class="min-w-[150px] inline-flex items-center justify-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
          <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
        </span>
        <span class="inline-flex items-center gap-1 text-xs bg-green-500 text-white px-3 py-1 rounded-full mb-2">
          <span>Completed</span>
        </span>
      </div>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs"><strong>Pragmatic:</strong> Hit MYR 50,000 turnover daily to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">18x Free Spins (per spin MYR0.20)</p>
        </div>
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('new-member-mission-1-reward-free-modal').showModal(); document.getElementById('new-member-mission-1-info-free-modal').hideModal()">
          Claim Now
        </button>
      </form>
    </div>
  </div>
</dialog>

<dialog id="new-member-mission-1-reward-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/6.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col gap-3">
      <h3 class="text-xl font-bold">Reward Claimed!</h3>
      <div class="italic">
        You have successfully claimed your <strong>18x Free Spins</strong> for completing the <strong>New Member Mission (1)</strong>.
      </div>
      <div class="opacity-50 text-xs">
        <strong>Note:</strong> We’ve credited Free Spins to your account! Simply <strong>launch WE88 Starlight Princess</strong> to start spinning.
      </div>
      <form class="" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Start Winning
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-slots-mission-1-info-free-modal.html ── -->
<dialog id="daily-slots-mission-1-info-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/11.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Slots Mission (1)</h3>
      <div class="flex gap-2">
        <span class="min-w-[150px] inline-flex items-center justify-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
          <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
        </span>
        <span class="inline-flex items-center gap-1 text-xs bg-green-500 text-white px-3 py-1 rounded-full mb-2">
          <span>Completed</span>
        </span>
      </div>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs"><strong>Pragmatic:</strong> Hit MYR 1,500 turnover daily to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">18x Free Spins (per spin MYR5)</p>
        </div>
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('daily-slots-mission-1-reward-free-modal').showModal(); document.getElementById('daily-slots-mission-1-info-free-modal').hideModal()">
          Claim Now
        </button>
      </form>
    </div>
  </div>
</dialog>

<dialog id="daily-slots-mission-1-reward-free-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/11.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col gap-3">
      <h3 class="text-xl font-bold">Reward Claimed!</h3>
      <div class="italic">
        You have successfully claimed your <strong>18x Free Spins</strong> for completing the <strong>Daily Slots Mission (1)</strong>.
      </div>
      <div class="opacity-50 text-xs">
        <strong>Note:</strong> We’ve credited Free Spins to your account! Simply <strong>launch WE88 Starlight Princess</strong> to start spinning.
      </div>
      <form class="" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Start Winning
        </a>
      </form>
    </div>
  </div>
</dialog>