<!-- ── mystery-free-section.html ── -->
<section class="py-4 bg-[#E3E4E5]">
  <div class="flex items-center gap-2 px-3 pb-2">
    <h2 class="font-heading font-bold text-base text-gray-900 flex items-center gap-2">
      <img src="/assets/icons/mystery-free-gift.png" class="w-7 -mt-3" />
      <!-- <span data-i18n="we_rewards.mystery_free_gift"></span> -->
      <span>Mystery Drops</span>
    </h2>
  </div>


  <div id="scroll-free" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">

    <!-- card: 8.8 Free Bonus -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/free-gift/1.png" class="w-full h-full object-cover grayscale" />
        <span class="absolute right-2 top-2 bg-[#646464] text-white text-[10px] font-bold px-2 py-0.5 rounded-md shadow">Expired</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          8.8 Free Bonus
          <button class="" onclick="document.getElementById('8-8-free-bonus-free-expired-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <div class="flex gap-2 mb-2.5 mt-8">
          <div class="flex-1 text-xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-gray-100 leading-3">MYR8 Free Bonus from WE88</p>
          </div>
        </div>
        <p class="text-[#FFFFFFBF] italic text-2xs mb-1">Exclusive rewards just for you!</p>
        <button class="w-full bg-expired text-white py-1 font-bold rounded-lg glow-hover"
          onclick="document.getElementById('8-8-free-bonus-free-expired-modal').showModal()">Expired</button>
      </div>
    </div>

  </div>
</section>


<!-- ── slots-section.html ── -->
<section class="py-3">
  <h2 class="font-heading font-bold text-[17px] text-gray-900 px-3 mb-2">Free Rewards</h2>
  <div id="scroll-free-bonus" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">

    <!-- card: Slots Free Bonus -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover grayscale" />
        <span
          class="absolute right-2 top-2 bg-[#646464] text-white text-[10px] font-bold px-2 py-0.5 rounded-md shadow">Expired</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Live Casino Free Chips
          <button class="" onclick="document.getElementById('live-casino-free-chips-free-expired-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <div class="flex gap-2 mb-2.5 mt-8">
          <div class="flex-1 text-xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-gray-100 leading-3">MYR38 Free bonus from <span class="text-primary">Pragmatic Play</span>
            </p>
          </div>
        </div>
        <p class="text-[#FFFFFFBF] italic text-2xs mb-1">Exclusive rewards just for you!</p>
        <button class="w-full bg-expired text-white py-1 font-bold rounded-lg glow-hover"
          onclick="document.getElementById('live-casino-free-chips-free-expired-modal').showModal()">Past
          Misses</button>
      </div>
    </div>

    <!-- card: Mystery Rescue Bonus -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/live-casino-4.png" class="w-full h-full object-cover grayscale" />
        <span
          class="absolute right-2 top-2 bg-[#646464] text-white text-[10px] font-bold px-2 py-0.5 rounded-md shadow">Expired</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Slot Free Spins
          <button class="" onclick="document.getElementById('slot-free-spins-free-expired-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <div class="flex gap-2 mb-2.5 mt-8">
          <div class="flex-1 text-xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-gray-100 leading-3">18x Free Spins from <span class="text-primary">Pragmatic Play</span></p>
          </div>
        </div>
        <p class="text-[#FFFFFFBF] italic text-2xs mb-1">Exclusive rewards just for you!</p>
        <button class="w-full bg-expired text-white py-1 font-bold rounded-lg glow-hover"
          onclick="document.getElementById('slot-free-spins-free-expired-modal').showModal()">Past Misses</button>
      </div>
    </div>

    <!-- mission card 4 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover grayscale" />
        <span
          class="absolute right-2 top-2 bg-[#646464] text-white text-[10px] font-bold px-2 py-0.5 rounded-md shadow">Expired</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Deposit Mission (4)
          <button class=""
            onclick="document.getElementById('daily-deposit-mission-4-info-free-expired-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-red-500 text-white text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          Missed (3) times
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              Deposit: Unlock 1x Silver WESpin...
            </p>
          </div>
          <div class="flex-1 text-1xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">1x WESpin Silver Coin</p>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <button class="w-full bg-expired text-white py-1 font-bold rounded-lg glow-hover"
            onclick="document.getElementById('daily-deposit-mission-4-info-free-expired-modal').showModal()">Past
            Misses</button>
        </div>
      </div>
    </div>

  </div>


</section>



<!-- ── modals/congratulations.html ── -->
<dialog id="8-8-free-bonus-free-expired-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl z-50">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/free-gift/1.png" class="w-full h-full object-cover grayscale bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Rewards Expired</h3>
      <div class="">
        Oops! It looks like your <strong>MYR8</strong> Free bonus from WE88 8.8 Anniversary have expired.
      </div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> Keep an eye on the Mystery Drops Center so you don't miss the next one!
      </div>
      <form class="w-full" method="dialog">
        <a href="/we-rewards.html?tab=free&ptab=free-available" class="btn bg-primary rounded-full w-full">
          View Active Mystery Drops
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="live-casino-free-chips-free-expired-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl z-50">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover grayscale bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Rewards Expired</h3>
      <div class="">
        Oops! It looks like your <strong>MYR38</strong> Free bonus from Pragmatic Play have expired.
      </div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> Keep an eye on the Mystery Drops Center so you don't miss the next one!
      </div>
      <form class="w-full" method="dialog">
        <a href="/we-rewards.html?tab=free&ptab=free-available" class="btn bg-primary rounded-full w-full">
          View Active Mystery Drops
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/congratulations.html ── -->
<dialog id="slot-free-spins-free-expired-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl z-50">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-4.png" class="w-full h-full object-cover grayscale bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Rewards Expired</h3>
      <div class="">
        Oops! It looks like your <strong>MYR38</strong> Free bonus from Pragmatic Play have expired.
      </div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> Keep an eye on the Mystery Drops Center so you don't miss the next one!
      </div>
      <form class="w-full" method="dialog">
        <a href="/we-rewards.html?tab=free&ptab=free-available" class="btn bg-primary rounded-full w-full">
          View Active Mystery Drops
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-deposit-mission-1-info-free-modal.html ── -->
<dialog id="daily-deposit-mission-4-info-free-expired-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl z-50">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover grayscale bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Deposit Mission (4)</h3>
      <div class="flex gap-2">
        <span class="inline-flex items-center gap-1 text-xs bg-expired text-white px-3 py-1 rounded-full mb-2">
          <span>Expired</span>
        </span>
        <span class="inline-flex items-center gap-1 text-xs bg-red-500 text-white px-3 py-1 rounded-full mb-2">
          <span>Missed (3) times</span>
        </span>
      </div>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs">Unlock 1x WESpin Gold Coin! Just deposit MYR 30,000 today for your chance to win big.</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">1x WESpin Gold Coin</p>
        </div>
      </div>
      <div class="text-1xs flex gap-4 text-gray-400">
        <div class="flex flex-col">
          <div>Yesterday, 11/3</div>
          <div>Tues, 10/3</div>
          <div>Mon, 9/3</div>
        </div>
        <div class="flex flex-col">
          <div>🔴 Expired</div>
          <div>🔴 Expired</div>
          <div>🔴 Expired</div>
        </div>
        <div class="flex flex-col">
          <div>Progress: MYR 1,200 / 30,000</div>
          <div>Progress: MYR 0 / 30,000</div>
          <div>Progress: MYR 850 / 30,000</div>
        </div>
      </div>
      <div class="text-xs text-center text-gray-400 font-semibold w-full">More...</div>
      <div class="opacity-50 italic text-xs">
        <strong>Note:</strong> Mission Missed! Don't worry - stay tuned to the Mission Center for your next mission.
      </div>
      <form class="w-full" method="dialog">
        <a class="btn bg-primary rounded-full w-full" href="/we-rewards.html?tab=missions&ptab=missions-available">
          View Active Missions
        </a>
      </form>
    </div>
  </div>
</dialog>