<!-- ── missions-live-casino.html ── -->
<!-- <section class="mb-4">
  <h2 class="font-heading font-bold text-base text-gray-900 px-3 mb-2">New Member Missions</h2>
  <div id="scroll-missions-live-casino" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">

    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/6.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-[9px] leading-3 bg-red-600 px-6 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[15px] -rotate-45">New
          <br /> Member</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          New Member Mission (1)
          <button class="" onclick="document.getElementById('new-member-mission-1-info-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1 font-semibold" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              <span class="text-primary">Deposit:</span> Accumulate deposit of MYR100...
            </p>
          </div>
          <div class="flex-1 text-xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white">18x Free Spins</p>
          </div>
        </div>
        <button class="w-full bg-primary text-black py-1 font-bold rounded-lg glow-hover" onclick="document.getElementById('new-member-mission-1-missions-modal').showModal()">Opt In ></button>
      </div>
    </div>

    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/6.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-[9px] leading-3 bg-red-600 px-6 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[15px] -rotate-45">New
          <br /> Member</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          New Member Mission (1)
          <button class="" onclick="document.getElementById('new-member-mission-1-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1 font-semibold" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              <span class="text-primary">Deposit:</span> Accumulate deposit of MYR100...
            </p>
          </div>
          <div class="flex-1 text-xs font-semibold">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white">18x Free Spins</p>
          </div>
        </div>
        <div class="mt-4">
          <div class="h-2 bg-[#FFFFFF26] rounded-full overflow-hidden">
            <div class="h-full bg-primary rounded-full" style="width:10%"></div>
          </div>
          <p class="text-[9px] text-gray-400 mt-1 text-center">
            <span class="text-primary">MYR 30.00</span> / 100.00 (30%)
          </p>
        </div>
      </div>
    </div>

  </div>
</section> -->

<!-- ── missions-slots.html ── -->
<section class="mb-4">
  <h2 class="font-heading font-bold text-base text-gray-900 px-3 mb-2">Slot Missions</h2>
  <div id="scroll-missions-slots" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">
    <!-- mission card 2 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/11.png" class="w-full h-full object-cover" />
        <!-- <span class="absolute right-2 top-2 bg-green-500 text-white text-[10px] font-bold px-2 py-0.5 rounded-md shadow" data-i18n="we_rewards.completed"></span> -->
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Slots Mission (1)
          <button class="" onclick="document.getElementById('daily-slots-mission-1-opt-in-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              <span class="text-primary">Pragmatic:</span> Hit MYR 10,000 turnover daily...
            </p>
          </div>
          <div class="flex-1 text-xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">38x Free Spins</p>
          </div>
        </div>
        <button class="w-full bg-primary text-black py-1 font-bold rounded-lg glow-hover" data-i18n="we_rewards.opt_in"
          onclick="document.getElementById('daily-slots-mission-1-missions-modal').showModal()"></button>
      </div>
    </div>


    <!-- mission card 1 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/11.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Slots Mission (1)
          <button class="" onclick="document.getElementById('daily-slots-mission-1-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="26">
            <span class="countdown">
              <span class="days" style="--value:0"></span>D
            </span>
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              <span class="text-primary">Pragmatic:</span> Hit MYR 1,500 turnover daily...
            </p>
          </div>
          <div class="flex-1 text-xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">18x Free Spins</p>
          </div>
        </div>
        <div class="mt-4">
          <div class="h-2 bg-[#FFFFFF26] rounded-full overflow-hidden">
            <div class="h-full bg-primary rounded-full" style="width:10%"></div>
          </div>
          <p class="text-[9px] text-gray-400 mt-1 text-center">
            <span class="text-primary">MYR 100.35</span> / 3,000.00 (3.345%)
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- ── missions-slots.html ── -->
<section class="mb-4">
  <h2 class="font-heading font-bold text-base text-gray-900 px-3 mb-2">Live Casino Missions</h2>
  <div id="scroll-missions-slots" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">

    <!-- mission card 2 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover" />
        <!-- <span class="absolute right-2 top-2 bg-green-500 text-white text-[10px] font-bold px-2 py-0.5 rounded-md shadow" data-i18n="we_rewards.completed"></span> -->
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Casino Mission (1)
          <button class=""
            onclick="document.getElementById('daily-casino-mission-1-opt-in-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              <span class="text-primary">Evolution:</span> Hit MYR 1,500 turnover daily...
            </p>
          </div>
          <div class="flex-1 text-xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">MYR28 Free Bonus</p>
          </div>
        </div>
        <button class="w-full bg-primary text-black py-1 font-bold rounded-lg glow-hover" data-i18n="we_rewards.opt_in"
          onclick="document.getElementById('daily-casino-mission-1-opt-in-info-missions-modal').showModal()"></button>
      </div>
    </div>

    <!-- mission card 1 -->
    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Casino Mission (1)
          <button class=""
            onclick="document.getElementById('daily-casino-mission-1-opt-in-info-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="26">
            <span class="countdown">
              <span class="days" style="--value:0"></span>D
            </span>
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              <span class="text-primary">Evolution:</span> Hit MYR 1,500 turnover daily...
            </p>
          </div>
          <div class="flex-1 text-xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">MYR28 Free Bonus</p>
          </div>
        </div>
        <div class="mt-4">
          <div class="h-2 bg-[#FFFFFF26] rounded-full overflow-hidden">
            <div class="h-full bg-primary rounded-full" style="width:10%"></div>
          </div>
          <p class="text-[9px] text-gray-400 mt-1 text-center">
            <span class="text-primary">MYR 100.35</span> / 3,000.00 (3.345%)
          </p>
        </div>
      </div>
    </div>

  </div>
</section>

<!-- ── missions-sportsbook.html ── -->
<!-- <section class="mb-4">
  <h2 class="font-heading font-bold text-base text-gray-900 px-3 mb-2">WESpin Missions</h2>
  <div id="scroll-missions-sportsbook" class="flex gap-2.5 overflow-x-auto px-3 pb-2 scrollbar-hide scroll-smooth">

    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Deposit Mission (1)
          <button class="" onclick="document.getElementById('daily-deposit-mission-1-info-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              Deposit: Unlock 1x Silver WESpin...
            </p>
          </div>
          <div class="flex-1 text-xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">1x WESpin Silver Coin</p>
          </div>
        </div>
        <div class="flex items-center justify-center">
          <a href="/deposit.html" role="button"
            class="w-full bg-primary text-center text-black py-1 font-bold rounded-lg glow-hover">Deposit Now</a>
        </div>
      </div>
    </div>

    <div class="shrink-0 w-56 bg-secondary rounded-xl overflow-hidden border border-gray-100 shadow-sm">
      <div
        class="relative h-24 bg-gradient-to-br from-green-900 via-green-700 to-green-900 flex items-center justify-center">
        <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover" />
        <span
          class="text-white font-bold text-2xs bg-blue-400 px-2 pt-6 pb-1 w-20 text-center absolute -left-[30px] -top-[10px] -rotate-45">Daily</span>
      </div>
      <div class="p-2.5">
        <p class="font-heading font-bold text-xs text-gray-100 mb-1.5 flex items-center justify-between">
          Daily Deposit Mission (1)
          <button class=""
            onclick="document.getElementById('daily-deposit-mission-11-info-missions-modal').showModal()">
            <i class="fa-solid fa-circle-info"></i>
          </button>
        </p>
        <span
          class="inline-flex items-center gap-1 bg-primary text-black text-[10px] font-bold px-2 py-0.5 rounded-lg mb-2">
          <span data-i18n="we_rewards.ends_in"></span>
          <span class="countdown-timer" data-expire="1">
            <span class="countdown">
              <span class="hours" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="minutes" style="--value:0"></span>:
            </span>
            <span class="countdown">
              <span class="seconds" style="--value:0"></span>
            </span>
          </span>
        </span>
        <div class="flex gap-1 mb-2.5">
          <div class="flex-1 text-xs border-r border-gray-500 pr-1">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.missions_label"></p>
            <p class="text-gray-300 italic line-clamp-2">
              Deposit: Unlock 1x Silver WESpin...
            </p>
          </div>
          <div class="flex-1 text-xs">
            <p class="text-gray-100 mb-1" data-i18n="we_rewards.rewards_label"></p>
            <p class="text-white font-bold">1x WESpin Silver Coin</p>
          </div>
        </div>
        <div class="mt-4">
          <div class="h-2 bg-[#FFFFFF26] rounded-full overflow-hidden">
            <div class="h-full bg-primary rounded-full" style="width:10%"></div>
          </div>
          <p class="text-[9px] text-gray-400 mt-1 text-center">
            <span class="text-primary">MYR 100.35</span> / 3,000.00 (3.345%)
          </p>
        </div>
      </div>
    </div>

  </div>
</section> -->



<!-- MODAL -->
<dialog id="new-member-mission-1-info-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/6.png" class="w-full h-full object-cover bg-black">
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">New Member Mission (1)</h3>
      <div class="flex gap-2">
        <span
          class="min-w-[150px] inline-flex items-center justify-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
          <span data-i18n="we_rewards.ends_in">Ends in:</span> <span>23:24:12</span>
        </span>
      </div>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label">Missions:</p>
          <p class="text-xs"><strong>Deposit:</strong> Deposit MYR 100 today to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label">Rewards:</p>
          <p class="text-xs font-semibold">18x Free Spins (per spin MYR0.20)</p>
        </div>
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('new-member-mission-1-missions-modal').showModal(); document.getElementById('new-member-mission-1-info-missions-modal').hideModal()">
          Opt In >
        </button>
      </form>
    </div>
  </div>
</dialog>

<dialog id="new-member-mission-1-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/6.png" class="w-full h-full object-cover bg-black">
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">New Member Mission (1)</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label">Missions:</p>
          <p class="text-xs"><strong>Deposit:</strong> Deposit MYR 100 today to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label">Rewards:</p>
          <p class="text-xs font-semibold">18x Free Spins (per spin MYR0.20)</p>
        </div>
      </div>
      <div class="my-4 w-full">
        <div class="h-5 bg-[#EEEEEE] rounded-full overflow-hidden">
          <div class="h-full bg-primary rounded-full" style="width:46%"></div>
        </div>
        <p class="text-1xs mt-2 text-center">
          <span class="font-bold">MYR 305.35</span> / 1,500.00 (20.35%)
        </p>
      </div>
      <form class="w-full" method="dialog">
        <a href="/deposit.html" class="btn bg-primary rounded-full w-full">
          Deposit Now
        </a>
      </form>
    </div>
  </div>
</dialog>




<!-- ── modals/daily-slots-mission-1-missions-modal.html ── -->
<dialog id="daily-slots-mission-1-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/11.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Slots Mission (1)</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs"><strong>Pragmatic:</strong> Hit MYR 1,500 turnover daily to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="font-semibold text-xs">18x Free Spins (per spin MYR5)</p>
        </div>
      </div>
      <div class="my-4 w-full">
        <div class="h-5 bg-[#EEEEEE] rounded-full overflow-hidden">
          <div class="h-full bg-primary rounded-full" style="width:46%"></div>
        </div>
        <p class="text-1xs mt-2 text-center">
          <span class="font-bold">MYR 700.00</span> / 1,500.00 (46%)
        </p>
      </div>
      <form class="w-full" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Play Now
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-slots-mission-1-opt-in-missions-modal.html ── -->
<dialog id="daily-slots-mission-1-opt-in-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/11.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Slots Mission (1)</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs"><strong>Pragmatic:</strong> Hit MYR 1,500 turnover daily to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">x(18) Free Spin (per spin MYR5)</p>
        </div>
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('daily-slots-mission-1-missions-modal').showModal(); document.getElementById('daily-slots-mission-1-opt-in-missions-modal').hideModal()">
          Opt In >
        </button>
      </form>
    </div>
  </div>
</dialog>


<!-- ── modals/daily-casino-mission-1-opt-in-info-missions-modal.html ── -->
<dialog id="daily-casino-mission-1-opt-in-info-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Slots Mission (1)</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs"><strong>Pragmatic:</strong> Hit MYR 1,500 turnover daily to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="font-semibold text-xs">18x Free Spins (per spin MYR5)</p>
        </div>
      </div>
      <div class="my-4 w-full">
        <div class="h-5 bg-[#EEEEEE] rounded-full overflow-hidden">
          <div class="h-full bg-primary rounded-full" style="width:46%"></div>
        </div>
        <p class="text-1xs mt-2 text-center">
          <span class="font-bold">MYR 305.35</span> / 1,500.00 (20.35%)
        </p>
      </div>
      <form class="w-full" method="dialog">
        <a href="/we-rewards.html?tab=we" class="btn bg-primary rounded-full w-full">
          Play Now
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-casino-mission-1-opt-in-missions-modal.html ── -->
<dialog id="daily-casino-mission-1-opt-in-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/live-casino-2.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Live Casino Mission (1)</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs"><strong>Evolution:</strong> Hit MYR 1,500 turnover daily to unlock rewards</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">MYR28 Free Bonus</p>
        </div>
      </div>
      <form class="w-full" method="dialog">
        <button class="btn bg-primary rounded-full w-full"
          onclick="document.getElementById('daily-casino-mission-1-opt-in-info-missions-modal').showModal(); document.getElementById('daily-casino-mission-1-opt-in-missions-modal').hideModal()">
          Opt In >
        </button>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-deposit-mission-1-info-missions-modal.html ── -->
<dialog id="daily-deposit-mission-1-info-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Deposit Mission (1)</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs">Unlock 1x WESpin Silver Coin! Just deposit MYR 100 today for your chance to win big.</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">1x WESpin Silver Coin</p>
        </div>
      </div>
      <form class="w-full" method="dialog">
        <a href="/deposit.html" class="btn bg-primary rounded-full w-full">
          Deposit Now
        </a>
      </form>
    </div>
  </div>
</dialog>

<!-- ── modals/daily-deposit-mission-1-info-missions-modal.html ── -->
<dialog id="daily-deposit-mission-11-info-missions-modal" class="modal">
  <div class="modal-box p-0 border-0">
    <form method="dialog">
      <button class="absolute right-2 top-2 text-white text-4xl">
        <i class="fa-solid fa-circle-xmark"></i>
      </button>
    </form>
    <img src="/assets/images/we-rewards/latest-missions/4.png" class="w-full h-full object-cover bg-black" />
    <div class="p-4 flex flex-col items-start gap-3">
      <h3 class="text-xl font-bold">Daily Deposit Mission (1)</h3>
      <span class="inline-flex items-center gap-1 bg-primary text-black px-3 py-1 rounded-full mb-2">
        <span data-i18n="we_rewards.ends_in"></span> <span>23:24:12</span>
      </span>
      <div class="flex gap-2 mb-2.5">
        <div class="flex-1 border-r border-gray-500 pr-4">
          <p class="mb-3 font-bold" data-i18n="we_rewards.missions_label"></p>
          <p class="text-xs">Unlock 1x WESpin Silver Coin! Just deposit MYR 100 today for your chance to win big.</p>
        </div>
        <div class="flex-1">
          <p class="mb-3 font-bold" data-i18n="we_rewards.rewards_label"></p>
          <p class="text-xs font-semibold">1x WESpin Silver Coin</p>
        </div>
      </div>
      <div class="my-4 w-full">
        <div class="h-5 bg-[#EEEEEE] rounded-full overflow-hidden">
          <div class="h-full bg-primary rounded-full" style="width:46%"></div>
        </div>
        <p class="text-1xs mt-2 text-center">
          <span class="font-bold">MYR 305.35</span> / 1,500.00 (20.35%)
        </p>
      </div>
      <form class="w-full" method="dialog">
        <a href="/deposit.html" class="btn bg-primary rounded-full w-full">
          Deposit Now
        </a>
      </form>
    </div>
  </div>
</dialog>