<!-- Slider main container -->
<div class="px-3">
  <div class="swiper">
    <!-- Additional required wrapper -->
    <div class="swiper-wrapper">
      <!-- Slides -->
      <div class="swiper-slide">
        <a href="/we-predict-challenge.html">
          <img src="/assets/images/we-rewards/we-predict-slide-1.png" class="w-full h-full object-contain" />
        </a>
      </div>
      <div class="swiper-slide">
        <a href="/we-predict-challenge.html">
          <img src="/assets/images/we-rewards/we-predict-slide-2.png" class="w-full h-full object-contain" />
        </a>
      </div>
    </div>
    <!-- If we need pagination -->
    <div class="swiper-pagination !relative mt-3"></div>
  </div>
</div>