<div role="tablist" class="tabs we-tabs fade-up-2 overflow-x-auto no-scrollbar">
  <button role="tab" data-tab="overview" class="tab tab-active">Overview</button>
  <button role="tab" data-tab="free" class="tab">
    <img src="/assets/icons/free.png" alt="Free" class="!w-5 mr-1 -mt-3" />
     Free
    </button>
  <button role="tab" data-tab="missions" class="tab">Missions</button>
  <button role="tab" data-tab="tournaments" class="tab">Tournaments</button>
  <button role="tab" data-tab="we-predict" class="tab">
    <span class="font-bold">WE</span>&nbsp;Predict
  </button>
  <button role="tab" data-tab="we" class="tab"><span class="font-bold">WE</span>&nbsp;Spin</button>
</div>
