<div role="tablist" class="tabs we-tabs fade-up-2 overflow-x-auto no-scrollbar">
  <button role="tab" data-tab="overview" class="tab tab-active" data-i18n="we_rewards.tab_overview"></button>
  <button role="tab" data-tab="free" class="tab">
    <img src="/assets/icons/free.png" alt="Free" class="!w-5 mr-1 -mt-3" />
    <span data-i18n="we_rewards.tab_free"></span>
    </button>
  <button role="tab" data-tab="missions" class="tab" data-i18n="we_rewards.tab_missions"></button>
  <button role="tab" data-tab="tournaments" class="tab" data-i18n="we_rewards.tab_tournaments"></button>
  <button role="tab" data-tab="we-predict" class="tab">
    <span class="font-bold" data-i18n="we_rewards.ptab_we_predict"></span>
  </button>
  <button role="tab" data-tab="we" class="tab"><span class="font-bold" data-i18n="we_rewards.tab_we_spin"></span></button>
</div>
