<footer class="fixed bottom-0 left-0 right-0 z-50 h-[70px] bg-black flex items-center justify-around px-2">
  
  <a href="index.html" class="flex flex-col items-center gap-1 group">
    <div class="text-2xl transition-colors text-primary group-active:scale-95">
      <img src="/assets/icons/home-icon.png" alt="Home" width="30px" />
    </div>
    <span class="{{#if (eq activePage 'home')}}text-primary{{else}}text-white{{/if}}" data-i18n="nav.home">Home</span>
  </a>

  <a href="#" class="flex flex-col items-center gap-1 group">
    <div class="text-2xl transition-colors text-primary group-active:scale-95">
      <img src="/assets/icons/ewallet-icon.png" alt="Home" width="30px" />
    </div>
    <span class="{{#if (eq activePage 'ewallet')}}text-primary{{else}}text-white{{/if}}" data-i18n="nav.ewallet">eWallet</span>
  </a>

  <!-- Special floating/center icon as seen in screenshot -->
  <a href="/we-rewards.html?tab=we-predict" class="flex flex-col items-center gap-1 group -translate-y-2">
    <div class="text-2xl transition-colors text-primary group-active:scale-95 relative -mt-4">
      <img src="/assets/icons/we-predict-icon.png" alt="Home" width="60px" />
    </div>
    <span>
      <span class="mt-1 text-primary" data-i18n="nav.we">WE</span> <span class="text-white" data-i18n="nav.predict">Predict</span>
    </span>
  </a>

  <a href="#" class="flex flex-col items-center gap-1 group">
    <div class="text-2xl transition-colors text-primary group-active:scale-95">
      <img src="/assets/icons/promo-icon.png" alt="Home" width="30px" />
    </div>
    <span class="{{#if (eq activePage 'promos')}}text-primary{{else}}text-white{{/if}}" data-i18n="global.promos"></span>
  </a>

  <a href="#" class="flex flex-col items-center gap-1 group">
    <div class="text-2xl transition-colors text-primary group-active:scale-95 relative -mt-4">
      <img src="/assets/icons/live-chat-icon.png" alt="Home" width="50px" class="" />
    </div>
    <span class="{{#if (eq activePage 'chat')}}text-primary{{else}}text-white{{/if}}" data-i18n="global.live_chat"></span>
  </a>

</footer>
