<header class="fixed top-0 left-0 right-0 z-50 h-[60px] bg-[#FFD800] flex items-center justify-between px-4 shadow-sm">
  <div class="flex items-center justify-start w-10">
    <a href="index.html" class="text-black text-2xl hover:opacity-70 transition-opacity flex items-center justify-center">
      <i class="fa-solid fa-arrow-left my-auto"></i>
    </a>
  </div>
  
  <h1 class="text-black font-bold text-2xl tracking-wide truncate mx-2 flex items-center justify-center">
    {{pageTitle}}
  </h1>

  <div class="flex items-center justify-end w-10">
    <!-- <button class="text-[#3C3C3C] text-xl hover:opacity-70 transition-opacity">
      <i class="fa-solid fa-ellipsis"></i>
    </button> -->
  </div>
</header>
